/*----------------------- Reset ---------------------------*/
*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
}

/*------------------------ INDEX GRID --------------------------- */
.contenedorIndex{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "header header"
    "nav nav"
    "main main"
    "footer footer";
    background-image: url("../multimedia/FontoPrincipal.png");
    background-size: cover; 
}

/*------------------------ HEADER GRID --------------------------- */
.header{
    grid-area: header;
    height: 100px;
    background-color: #750008;
    padding:20px;
}

.logo img{
    height: 100px;
    width:auto;
}

/*------------------------ NAV GRID --------------------------- */
.nav{
    grid-area: nav;
    background-color: #B0000C;
    position: sticky;
    top: 0px;
    text-align: right;
    padding: 20px;
}
.nav a{
    display: inline-block;
    padding:5px 25px; 
    font-size:18px;
    text-decoration:none;
}

.nav ul{
    list-style: none;
}

.nav ul a:hover{
    background-color: #6B181D;
    box-shadow: 0px 3px 20px 3px #0c141d;
}

/*---------------------- Header ---------------------------*/
#contenedorLogo{
    height: 100px;
    background-color: #750008;
    padding:30px;
   
}

.logo{
    height: 100px;
    width:auto;
}

/*------------------------ Nav --------------------------- */
.contenedorMenu{
    text-align: right;
    padding: 20px;
}
nav{
    background-color: #B0000C;
    position: sticky;
    top: 0px;
}

nav a{
    display: inline-block;
    padding:5px 25px; 
    font-size:18px;
    text-decoration:none;
}

nav ul{
    list-style: none;
}

ul a:hover{
    background-color: #6B181D;
    box-shadow: 0px 3px 20px 3px #0c141d;
}

/* ------------ MAIN INDEX GRID --------------- */

.main{
    grid-area: main;
    text-align: center;

}

.main section h2{
    padding: 20px;
}

.titulo{
    background-color: rgba(0, 0, 0,70%);
    padding: 20px;
    margin: 10px 10%;
}

.galeriaFotos img{
    height: 10%;
    width: 40%;
}

.descripcion h3{
    font-size: 17px;
}

 .descripcion .contenedorDescIndex{
    height: 150px;
    margin: 0 10%;
    padding: 20px;
    background-color: rgba(66, 14, 18,50%);
    overflow: auto;
}


/*------------------------ MAIN GRID QUIENES SOMOS --------------------------- */

.contenedorQuienesSomos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "header header"
    "nav nav"
    "main main"
    "footer footer";
}

#contenedorPrincipalNosotros{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "subTituloNosotros subTituloNosotros"
    "videoNosotros contenedorDesc"
    "subTituloNosotrosButton subTituloNosotrosButton"
    ;
    background-color: rgba(197, 197, 197, 0.979);
}

.mainQuienSomos{
    grid-area: main;
}

section .subTituloNosotros{
    grid-area: subTituloNosotros;
    background-color: rgba(0, 0, 0, 70%);
    padding: 20px;
    margin: 20px 10%;
    text-align: center;
}


.videoNosotros{
    grid-area: videoNosotros;
}

.videoNosotros iframe{
    margin: 20px 0px 20px 25%;
}

section .contenedorDesc{
    grid-area: contenedorDesc;
    margin: 20px 30% 20px 0;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.342);
}

.contenedorDesc p{
    line-height: 30px;
    font-size: 22px;
}

.contenedorDesc .entreTexto{
    font-style: italic;
    background-color: #0c141d;
    padding: auto;
}

.subTituloNosotrosButton{
    grid-area: subTituloNosotrosButton;
    background-color: rgba(0, 0, 0, 70%);
    padding: 20px;
    margin: 0 10% 20px;
    text-align: center;
}

/*------------------------ GALERIA GRID --------------------------- */
.contenedorGaleria{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "header header"
    "nav nav"
    "main main"
    "footer footer";
}

/*------------------------ MAIN GALERIA GRID --------------------------- */
.mainGaleria{
    grid-area: main;
    background-color: rgba(197, 197, 197, 0.979);
}

.contenedorImagenes{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "img1 img2"
    "img3 img4"
    "img5 img6";
    grid-gap: 5px;
    padding: 20px;
}


.img{
    border: 2px solid #fff;
    height: 400px;
    width: auto;
}

.img1{
    grid-area: img1;
    background-image: url(../multimedia/Galeria/CorralonGAMA-004.jpg);
    background-size: cover;
    background-position: center;
}
.img2{
    grid-area: img2;
    background-image: url(../multimedia/Galeria/CorralonGAMA-036.jpg);
    background-size: cover;
    background-position: center;
}
.img3{
    grid-area: img3;
    background-image: url(../multimedia/Galeria/CorralonGAMA-119.jpg);
    background-size: cover;
    background-position: center;
}
.img4{
    grid-area: img4;
    background-image: url(../multimedia/Galeria/CorralonGAMA-259.jpg);
    background-size: cover;
    background-position: center;
}
.img5{
    grid-area: img5;
    background-image: url(../multimedia/Galeria/CorralonGAMA-361.jpg);
    background-size: cover;
    background-position: center;
}
.img6{
    grid-area: img6;
    background-image: url(../multimedia/Galeria/CorralonGAMA-457.jpg);
    background-size: cover;
    background-position: center;
}

/*------------------------ MAIN CONTACTO --------------------------- */
.contenedorContacto{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "header header" 
    "nav nav"
    "main main"
    "main main"
    "footer footer"     ;
     background-color: rgba(197, 197, 197, 0.979);
}

#mainContacto{
    grid-area: main;
}

section .banner{
    padding-top: 20px;
}

.banner img{
    max-height: 150px;
    width: 100%;
}

.contenedorPrincipal{
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "ubicacion     formulario"
    "contactoimg1  contactoimg2 "; 
}

section .ubicacion{
    grid-area: ubicacion;
    margin: 0 auto;
    padding: 20px;
}

section .formulario{
    grid-area: formulario;
   }


.formulario fieldset{
    height: 450px;
    width: 200px;
    border-style: none;
}

section input{
    display: block;
    margin: 5px 10px;
    padding: 10px 150px;
}

section textarea{
    margin: 5px 10px;
    padding: 10px 122px 100px;
    text-align: left;
}

fieldset .boton{
    margin: 20px;
    display: inline;
    padding: 10px 30px; 
    border-radius: 10%;
    border: 1px solid black;
    box-shadow: 1px 2px 3px #0c141d;
    background-color: #B0000C;
}

.boton:hover{
    background-color: #6B181D;
    color: white;
}

.contactoImg{
    margin: 50px 100px;
}

.contactoImg1{
    grid-area: contactoimg1;
}

.contactoImg2{
    grid-area: contactoimg2;
}



/* ------------ FOOTER GRID --------------- */
.footer{
    grid-area: footer;
    padding: 30px;
    border-top: 3px double white;
    background-color: rgb(34, 34, 34);
    text-align: center;
}

.iconosRedes{
    padding: 20px;
    
}

.iconosRedes i{
    font-size: 25px;
    letter-spacing: 10px;
}

/* ------------------- MEDIA QUERYS ---------------- */

@media (min-width: 640px){
    .contenedorIndex{
        grid-template-columns:5% 1fr 1fr 5%;
        grid-template-areas: "header header header header"
        "nav nav nav nav"
        ". main main ."
        "footer footer footer footer";
    }

    .contenedorGaleria{
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
        "header header header"
        "nav nav nav"
        "main main main"
        "footer footer footer";
        border: 2px solid black;}

        .contenedorImagenes{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-areas: 
            "img1 img2 img3"
            "img4 img5 img6";
        }    
}

